.button:hover {
    -fx-cursor: hand;
    -fx-opacity: 0.9;
}

#menuButton, #start {
    -fx-background-color: #074B9C;
    -fx-border-color: #cccccc;
    -fx-font-size: 15;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#s1, #s2, #s2, #s3, #s4, #s5, #s6, #s7 {
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 32;
}