#top {
    -fx-background-color: #dddddd;
}

#center_left {
    -fx-background-color: #eeeeee;
}

#find {
    -fx-background-radius: 999;
    /*-fx-background-color: #FEC400;*/
    -fx-background-color: #6a78a8;
}

#find:hover {
    -fx-background-color: #FEC400;
}

#function {
    -fx-background-color: #1d2a57;
}

#function .button {
    -fx-font-weight: bold;
}

#left {
    -fx-background-color: #dddddd;
}

#search, #history, #game, #add, #minus, #settings, #change {
    -fx-background-color: #cccccc;
}

#menu {
    -fx-background-color: #6a78a8;
}

.button:hover {
    -fx-cursor: hand;
}

#search:hover, #history:hover, #game:hover, #add:hover, #minus:hover, #settings:hover{
    -fx-background-color: #6a78a8;
}

#change {
    -fx-background-color: #1d2a57;
}


.list-cell {
    /*-fx-background-color: #6a78a8;*/
    /*-fx-cell-border-color: transparent transparent #ffffff transparent;*/
    -fx-text-fill: #ffffff;
    /*-fx-border-color: #ffffff;*/
    /*-fx-border-width: 1;*/
}

.list-cell:hover {
    -fx-cursor: hand;
}

#menu:hover {
    -fx-background-color: #FEC400;
}

#change:hover {
    -fx-opacity: 0.8;
}

#tudien:hover, #dich:hover, #synonym:hover, #antonym:hover, #holly:hover {
    -fx-background-color: #FEC400;
}

#dich, #tudien, #synonym, #antonym {
    -fx-background-color: #ffffff;
}

#change:hover {
    -fx-text-fill: #FEC400;
}